.app {
  background-color: blue;
  color: #333;
  display: flex;
  flex-wrap: wrap;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
}

.flex-section {
  align-items: center;
  display: flex;
  justify-content: center;
}

.header {
  background-color: lightgreen;
  height: 2.5em;
  width: 100%;
}

.sidebar {
  background-color: lightblue;
  display: none;
  height: 20em;
  width: 10%;
}

.content {
  background-color: orange;
  height: 20em;
  width: 100%;
}

.footer {
  background-color: pink;
  height: 5em;
  width: 100%;
}

@media only screen and (min-width: 961px) {
  .app {
    width: 960px;
    margin: 0 auto;
  }

  .sidebar {
    display: flex;
  }

  .content {
    width: 90%;
  }
}